@{
    ViewData["Title"] = "Beacon Inventory";
}
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Pointr  Stock List</div>
    <div class="card-body">
        @*<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">*@
            @*<h5 class="card-title"> </h5>*@
            Beacon Stock List<p class="card-text align-content-end"></p>
        </a>
    </div>
</div>

