@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-white  mb-3 bg-secondary" style="max-width: 18rem;">
    <div class="card-header">Pointr Recorder Profiler</div>
    <div class="card-body bg-light">
        <a   asp-area="" asp-controller="RecordProfiler" asp-action="Index" class="btn btn-primary">
            @*<h5 class="card-title">Tool to analyse JSON Recordings </h5>*@
            Analyse your JSON Recordings<p class="card-text align-content-end">>>>></p>
        </a>
    </div>
</div>

 